@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&family=Inter:wght@400;500&display=swap');

h1, h2, h3 {
  font-family: 'Poppins', sans-serif;
}

body, p, span {
  font-family: 'Inter', sans-serif;
}



